<html>
  <head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />

    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />

<!-- moved phonegap and cordova scripts to head to load first -->

    <script type="text/javascript" charset="utf-8" src="js/cordova.js"></script>
    <script type="text/javascript" src="js/phonegap.js"></script>

    <!-- import these in your index.scss -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="css/foundation.css" /> -->
    <link rel="stylesheet" href="css/font-awesome-4.0.1/css/font-awesome.min.css">
    <!-- sass watch index.scss:index.css -->
    <link rel="stylesheet" type="text/css" href="css/index.css" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <title>GameSlap</title>
  </head>
  <body>

    <!-- Navigation -->
      <nav id="slide-menu">
        <ul>
          <li class="home">
            <a href="/index">Home</a>
          </li>
          <li class="profile">
            <a href="profile.html">My Profile</a>
          </li>
          <li class="nearby-users">
            <a href="nearby-users.html">Nearby Users</a>
          </li>
          <li class="leaderboard">
            <a href="leaderboard.html">Leaderboard</a>
          </li>
          <li class="sep settings">
            <a href="#">Settings</a>
          </li>
          <li class="logout">
            <a href="#">Logout</a>
          </li>
        </ul>
      </nav> <!-- #slide-menu -->

    <!-- Content panel -->
    <div id="content">
      <div class="menu-trigger"></div> <!-- .menu-trigger -->
      <div class="header"></div> <!-- header -->
      <!-- <h1>Amy FTW</h1>
      <p>FTW FTW FTW Some text here pls. Chicken wings.</p> -->

      <div class="body">
        <%= yield %>
      </div> <!-- .body -->

      <div id="templates">
        <%= partial 'templates' %>
      </div> <!-- #templates -->

      <footer>
        <div class="app">
          <div id="deviceready" class="blink">
            <p class="event listening">Connecting to Device</p>
            <p class="event received"><!-- Device is Ready --></p>
          </div> <!-- #deviceready -->
            <p id="geolocation"></p>
        </div> <!-- .app -->
    
        <div id="test">

          <p><a href="#" onclick="showAlert(); return false;">Show Alert</a></p>
          <p><a href="#" onclick="playBeep(); return false;">Play Beep</a></p>
          <p><a href="#" onclick="vibrate(); return false;">Vibrate</a></p>
        
        </div>
      
      </footer>
    
    </div> <!-- #content -->

    <script type="text/javascript">
      $(document).ready(function(){
        $.ajax({
          type: 'POST',
          url: 'http://localhost:3000/api/user/location',
          data: { phone_id: '', location: '' },
          success: function (data) {
            console.log('success', data);
          }
        });

        $('#user').click( function(){
          $.ajax({
            type: 'POST',
            url: 'http://localhost:3000/api/user/1/slap',
            data: { phone_id: '1235' },
            success: function (data) {
              console.log('GRHild Slaps', data);
            }
          });
        });

        $('#user').click( function(){
          $.ajax({
            type: 'POST',
            url: 'http://localhost:3000/api/slap/2/accept',
            data: { phone_id: '1234' },
            success: function (data) {
              console.log('Gmoney is slapped by', data);
            }
          });
        });

//Ajax to post user profile information
        $('.user-profile').append( function() {
          $.ajax({
            type: 'POST',
            url: 'http://localhost:3000/api/user/' + id + '/profile',
            data: { nickname: '', rank: '', email: '' },
            success: function (data) {
              console.log('User Data!', data);
              window.pubsub.trigger('profile-update', data);
            }
          });
        });
      });

      // Slidemenu

      (function() {
        var $body = document.body
        , $menu_trigger = $body.getElementsByClassName('menu-trigger')[0];

        if ( typeof $menu_trigger !== 'undefined' ) {
          $menu_trigger.addEventListener('click', function() {
            $body.className = ( $body.className == 'menu-active' )? '' : 'menu-active';
          });
        }

      }).call(this);

    </script> <!-- text/javascript -->

    <!-- 3rd-party scripts -->
    <script type="text/javascript" src="vendor/underscore.js"></script>
    <script type="text/javascript" src="vendor/backbone.js"></script>

    <script type="text/javascript" src="js/jquery-1.10.js"></script>
    <script type="text/javascript" src="js/rails.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
    
    <!-- Globals -->
    <script type="text/javascript" src="js/util.js"></script>
    <!-- Models -->
    <script type="text/javascript" src="js/models/profile.js"></script>
    <!-- Views -->
    <script type="text/javascript" src="js/views/profile-view.js"></script>
    <script type="text/javascript" src="js/views/profilelistView.js"></script>
    <!-- Setup -->
    <script type="text/javascript" src="js/geolocate.js"></script>
    <script type="text/javascript" src="js/notification.js"></script>
    <!-- Gravatar Pics -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="js/hex_md5.js"></script>
  </body>
</html>
