<html>
  <head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="https://djyhxgczejc94.cloudfront.net/frameworks/bootstrap/3.0.0/themes/white-plum/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/foundation.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css" />


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <title>GameSlap</title>
  </head>
  <body>
    <header>
    <div>
      <div class="header">
        <span><img class="logo" src="img/GameSlap-Logo2.png" width="40" height="auto"></span>
        <button class="navbar" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <i class="fa fa-list-ul fa-2x"></i>
        </button>
        <div class="collapse navbar-collapse" style>
          <ul>
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="profile.html">Profile</a>
            </li>
            <li>
              <a href="nearby-users.html">Nearby Users</a>
            </li>
            <li>
              <a href="leaderboard.html">Leaderboards</a>
            </li>
          </ul>
        </div>
    </div>
    </header>

    <div class="body">
      <%= yield %>
    </div>

    <div id="templates">
      <%= partial 'templates' %>
    </div>

    <div id='user'>
      <button type="tiny button">Challenges</button>
    </div>

    <footer>
      <div class="app">
        <div id="deviceready" class="blink">
          <p class="event listening">Connecting to Device</p>
          <p class="event received">Device is Ready</p>
        </div>
          <p id="geolocation"></p>
      </div>
    </footer>

    <script type="text/javascript">

    $(document).ready(function(){
      $.ajax({
        type: 'POST',
        url: 'http://localhost:3000/api/user/location',
        data: { phone_id: '', location: '' },
        success: function (data) {
          console.log('success', data);
        }
      });

      $('#user').click( function(){ 
        $.ajax({
          type: 'POST',
          url: 'http://localhost:3000/api/user/2/slap',
          data: { phone_id: '1235' },
          success: function (data) {
            console.log('success', data);
          }
        });
      });

      $('#user').on('click', function(){
        $.ajax({
          type: 'POST',
          url: 'http://localhost:3000/api/slap/3/accept',
          data: { target_id: '1234' },
          success: function (data) {
            console.log('success23', data);
          }
        });
      });
    });

      // $.getJSON('/jquery/result.json', function(user){
      //   $('#user').html('<p>Accept?' + user.accept + '</p>');
      //   $('#user').append('<p>Phone_id:' + user.phone_id + '</p>');  
      //   $('#user').append('<p>Slap_id:' + user.slap_id + '</p>');
      // });
    </script>

    <!-- 3rd-party scripts -->
    <script type="text/javascript" src="vendor/underscore.js"></script>
    <script type="text/javascript" src="vendor/backbone.js"></script>
    <script type="text/javascript" src="js/phonegap.js"></script>
    <script type="text/javascript" src="js/jquery-1.10.js"></script>
    <script type="text/javascript" src="js/rails.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/cordova.js"></script>
    <!-- Globals -->
    <script type="text/javascript" src="js/util.js"></script>
    <!-- Models -->
    <script type="text/javascript" src="js/models/profile.js"></script>
    <!-- Views -->
    <script type="text/javascript" src="js/views/profile-view.js"></script>
    <!-- Setup -->
    <script type="text/javascript" src="js/geolocate.js"></script>

  </body>
</html>


