<!-- SPLASH SCREEN -->
<!-- HOW TO ADD?? -->

<div class="splash-screen-wrapper">
  <div class="content">
    <div class="logo">
      <img src="img/GameSlap-Logo-Gray-200px.png">
    </div> <!-- logo -->
	  <div class="tagline">
      <p>GameSlap v.1.0</p>
      <p>Created by Greg H. and Amy T.</p>
    </div> <!--tagline-->
  </div> <!-- content -->
</div> <!-- splash-screen-wrapper