.app.home
  .nav-buttons
    .round.button
      %a{:href => "index.html"}
        .home
          %i.fa.fa-home.fa-3x
    .round.button
      %a{:href => "profile.html"}
        .user
          %i.fa.fa-user.fa-3x
    .round.button
      %a{:href => "nearby-users.html"}
        .challenges
          %i.fa.fa-bolt.fa-3x
    .round.button
      %a{:href => "leaderboard.html"}
        %div
          %i.fa.fa-trophy.fa-3x
