
    <%= partial "example" %>
  <div class="app">
    <div id="deviceready" class="blink">
      <p class="event listening">Connecting to Device</p>
      <p class="event received">Device is Ready</p>
  </div>