<div class="app"></div>
  <div class="app-button">

    <div class="main button">
        <a href="index.html">
          <div class="home">
            <i class="fa fa-home fa-3x"></i>
            <!-- <>Home</h4> -->
          </div>
        </a>
    </div>

    <div class="main button">
      <a href="profile.html">
        <div class="user">
          <i class="fa fa-user fa-3x"></i>
        </div>
      </a>
    </div>

    <div class="main button">
      <a href="nearby-users.html">
        <div class="challenges">
          <i class="fa fa-bolt fa-3x"></i>
          <!-- <>Home</h4> -->
        </div>
      </a>
    </div>

    <div class="main button">
      <a href="leaderboard.html">
        <i class="fa fa-trophy fa-3x"></i>
        <!-- <h4>Leaderboards</h4> -->
        </div>
      </a>
  </div> <!-- .app-button -->
</div> <!-- .app -->

    <%= partial "example" %>