    
    <div class="main button">
      <i class="fa fa-home fa-3x"></i>
    </div>

    <div class="main button">
      <i class="fa fa-user fa-3x" ></i>
    </div>

    <div class="main button">
      <i class="fa fa-group fa-3x"></i>
    </div>

    <div class="main button">
      <i class="fa fa-trophy fa-3x"></i>
    </div>


      <%= partial "example" %> 