    
    <div class="main button">
      <i class="fa fa-home fa-3x"></i>
      <h4>Home</h4>
    </div>

    <div class="main button">
      <i class="fa fa-user fa-3x" ></i>
      <h4>Profile</h4>
    </div>

    <div class="main button">
      <i class="fa fa-group fa-3x"></i>
      <h4>Users</h4>
    </div>

    <div class="main button">
      <i class="fa fa-trophy fa-3x"></i>
      <h4>Leaderboards</h4>
    </div>


      <%= partial "example" %> 