  <div>
    <div class="main button">
      Home
    </div>
    <div class="main button">
      Profile
    </div>
    <div class="main button">
      Users
    </div>
    <div class="main button">
      Leaderboards
    </div>


  </div>



  <div class="app">
    <div id="deviceready" class="blink">
      <p class="event listening">Connecting to Device</p>
      <p class="event received">Device is Ready</p>
  </div>
      <%= partial "example" %>