.app.leaderboard
  %h2 Leaderboard
  .user-ranks
    .rank-one
      %h4 BAMF
      / link to user profile
      / display username
      / diplay avatar
    .rank-two
    .rank-three
    .rank-four
    .rank-five

