.app.nearby-users
  .listProfileInfo
    .user-avatar
    .user-nickname
    .user-rank
    .user-distance


:javascript
  $(document).ready(function (argument) {

    var user = new Profile({
    });

    var users = new Profiles({
    });

    var profileListView = new ProfileListView({
      collection: users,
      el: '.listProfileInfo'
    });

    users.add([
      { name: 'Gmoney' },
      { name: 'GRHild' },
    ]);

    $('.listProfileInfo').append(profileListView.render());

    profileListView.render();

  });