<img src="/pictures/gtwitterpic.jpg" width=200 length=200 />
<div class="listProfiles">
</div>
<div id='user'>
   <p><a href="#" onclick="showAlert(); return false;"> show </a></p>
  <button type="tiny button">Slap</button>

</div>

<script type="text/javascript">
  $(document).ready(function (argument) {

    var user = new Profile({
    });

    var users = new Profiles({
    });

    var profileListView = new ProfileListView({
      collection: users,
      el: '.listProfiles'
    });

    users.add([
      { name: 'Gmoney' },
      { name: 'GRHild' },
    ]);

    $('.listProfiles').append(profileListView.render());

    // $.ajax({
    //   type: 'POST'
    //   url: 'http://local:host3000/api/user'
    //   data: { nickname: '', rank: '', img: '' }
    //   success: function(data){
    //     console.log('success', data);
    //   }
    // });

    profileListView.render();

  });

</script>
