<body>
  <div class='listProfiles'>
    <img src="/pictures/gtwitterpic.jpg" width=200 length=200 />
    <div id='user'>
      <button type="tiny button">Slap</button>
    </div>
  </div>


  <script type="text/javascript">
    $(document).ready(function (argument) {
      var user = new Profile({    
      });

      var users = new Profiles({
      });

      var profileListView = new ProfileListView({
        collection: users
      });

      users.add([
        { name: 'Gmoney' },
        { name: 'GRHild' },
      ]);

      $('.listProfiles').append(profileListView.render());

      profileListView.render();
    
    });

  </script>

</body>