<body>
  <div class='listProfiles'>
    <img src="/pictures/gtwitterpic.jp/g" width=200 length=200 />
  </div>


  <script type="text/javascript">
    $(document).ready(function (argument) {
      var user = new Profile({    
      });

      var users = new Profiles({
      });

      var profileListView = new ProfileListView({
        collection: users
      });

      profileListView.add([
        { name: 'Gman' },
        { name: 'GRHild' },
        { name: 'Bobinator' }
      ]);

      $('.listProfiles').append(profileListView.render());

      profileListView.render();
    
    )};

  </script>

</body>