
<div>
  <img src="/pictures/gtwitterpic.jpg" width=200 length=200 />
  <div id="templates">
    <script class="userInfo" type="text/template">
      <h3>User Profile</h3>
       <p>UserName: {{ UserName }} </p>
       <p>Rank {{ Rank }} </p>
       <p> Games Won / Games Played {{ Stats }} </p>
    </script>
</div>
