
<div class="profile-view">  
  <h3>Greg Hild</h3>
  <img src="/pictures/gtwitterpic.jpg" width=200 length=200 />
  <div id='user'>
    <button type="tiny button">Slap</button>
  </div>
</div>

<script type="text/javascript">
// Page-specific code
  $(document).ready(function (argument) {

    var user = new Profile({
    });

    var profileView = new ProfileView({
      model: user
    });

    console.log('User:', user);

    $('.profile-view').append(profileView.el);

    profileView.render();

  });
</script>
