<div>
  <img src="gtwitterpic.jpg" />
  <div id="templates">
    <script class="userInfo" type="text">
      <label>
       {{ UserName }}
       {{ Rank }}
       {{ Stats }}
      </label>
    </script>
</div>