// View for Leaderboard and Nearby Users mini profiles
%script.mini-user-profile{:type => "text/template"}
  .small-6.columns
    %img{:src => "{{ gravatarUrl }}" }
  .small-6.columns
    %h4.user-nickname {{ nickname }}
    %p.user-rank {{ rank }}
    %button.slap{:type => "tiny button"} SLAP

// View for current User Profile
%script.full-user-profile{:type => "text/template"}
  .profile
    %img{:src => "{{ gravatarUrl }}" }
    %h2.user-nickname {{ nickname }}
    %h3.user-rank {{ rank }}
    %button.slap{:type => "tiny button"} SLAP

// View for pending slaps
%script.pending-slap{:type => "text/template"}
  .small-6.columns
    %img{:src => "{{ gravatarUrl }}" }
  .small-6.columns
    %h4.user-nickname {{ nickname }}
    %p.user-rank {{ rank }}
    .small-6.columns
      %button.accept{:type => "tiny button"} ACCEP
    .small-6.columns
      %button.reject{:type => "tiny button"} REJECT
