// View for Leaderboard and Nearby Users mini profiles
%script.mini-user-profile{:type => "text/template"}
  .small-6.columns.img
    %img{:src => "{{ gravatarUrl }}" }
  .small-6.columns.info
    %h4.user-nickname {{ nickname }}
    %p.user-rank {{ rank }}
    %button.slap{:type => "tiny button"} SLAP

// View for current User Profile
%script.full-user-profile{:type => "text/template"}
  .profile
    %img{:src => "{{ gravatarUrl }}" }
    %h2.user-nickname {{ nickname }}
    %h3.user-rank {{ rank }}
  .small-6.columns
    %button.pending{:type => "tiny button"} SLAPS
  .small-6.columns
    %button.nearby{:type => "tiny button"} NEARBY

// View for pending slaps
%script.pending-slap{:type => "text/template"}
  .small-6.columns
    %img{:src => "{{ gravatarUrl }}" }
  .small-6.columns
    %h4.user-nickname {{ nickname }}
    %p.user-rank {{ rank }}
    .small-6.columns
      %button.accept{:type => "tiny button"} ACCEP
    .small-6.columns
      %button.reject{:type => "tiny button"} REJECT

// Template for gravatar email
%script.gravatar-email{:type => "text/html"}
  %form{:action => "http://localhost:3000/api/user/{{ id }}/gravatar", "data-remote" => "true", :method => "post"}
    %h2 Hey!
    %h3 You should really add a photo of yourself!
    %p Just enter in your Gravatar e-mail:
    %input{:placeholder => "me@example.com", :type => "email", :name => "email"}
    %input{:type => "submit", :value => "submit"}
    %p
      %a{:href => "https://en.gravatar.com/site/signup/"} Sign up for Gravatar
  %a.close-reveal-modal &#215;





