// View for Leaderboard and Nearby Users mini profiles
%script.mini-user-profile{:type => "text/template"}
  .small-6.columns
    %img{:src => "http://p.lui.li/img-31102_confettisquare_j-r-med.png "}
  .small-6.columns
    %h4.user-nickname {{ nickname }}
    %p.user-rank {{ rank }}
    #user
      %button{:type => "tiny button"} SLAP

// View for current User Profile
%script.full-user-profile{:type => "text/template"}
  .profile
    %img{:src => "{{ gravatarUrl }}" }
    %h2.user-nickname {{ nickname }}
    %h3.user-rank {{ rank }}
    #user
      %button{:type => "tiny button"} SLAP
